<div class="container-fluid">
    <div class="row">
        <!--<div class="page-header">-->
        <h3 class="col-xs-8">Spesa conclusa con successo</h3>
        <div class="navigation-buttons col-xs-4">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeToDashboard()">Torna indietro</button>
        </div>
        <div class="col-xs-12">
            <img class="col-xs-2 col-sm-1 col-xs-offset-1" ng-src="img/ok.png" ng-alt="Congratulazioni" ng-title="Congratulazioni">

            <p class="col-xs-9 col-sm-10">Congratulazioni! Puoi recarti presso il punto vendita da te scelto munito di un valido documento
            di riconoscimento e ritirare la spesa da te effettuata!</p>
        </div>
    </div>
</div>

