<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-9">Benvenuto ADDETTO, {{$ctrl.user}}!</h3>
    <div class="navigation-buttons col-xs-3">
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
    </div>
    <br/>
  </div>

    <div class="row" id="dashboard">
      <div class="col-xs-3 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
        <!--    <a href="#!/new-buy" class="thumbnail">-->
        <a ng-click="$ctrl.getClosedBuys()" class="thumbnail">
          <img ng-src="img/shop-list.png" alt="Immagine nuova spesa" title="Nuova spesa">
          <b>Spese Ordinate<b/>
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
        <!--<a href="#!/buys" class="thumbnail">-->
        <a ng-click="$ctrl.getAssignedBuys()" class="thumbnail">
          <img ng-src="img/operator-list.png" alt="Archivio spese" title="Archivio spese">
          Spese personali
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
        <!--<a href="#!/buys" class="thumbnail">-->
        <a ng-click="$ctrl.getReadyBuys()" class="thumbnail">
          <img ng-src="img/ready-list.png" alt="Archivio spese" title="Archivio spese">
          Spese pronte
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
        <!--<a href="#!/buys" class="thumbnail">-->
        <a ng-click="$ctrl.getFinishedBuys()" class="thumbnail">
          <img ng-src="img/finished-list.png" alt="Archivio spese" title="Archivio spese">
          Spese ritirate
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-3 col-md-offset-0">
        <!--<a href="#!/buys" class="thumbnail">-->
        <a ng-click="$ctrl.getUncollectedBuys()" class="thumbnail">
          <img ng-src="img/uncollected-list.png" alt="Archivio spese" title="Archivio spese">
          Spese non ritirate
        </a>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-0 col-md-offset-0">
        <a href="#!/profile" class="thumbnail">
          <img ng-src="img/profilo.png" alt="Gestione profilo" title="Gestione profilo">
          Gestione profilo
        </a>
      </div>
    </div>
  
</div>