<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-9">Benvenuto, {{$ctrl.user}}!</h3>
    <div class="navigation-buttons col-xs-3">
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
    </div>
    <br/>

    <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.newBuyError">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <strong>Attenzione!</strong> Hai già una spesa in corso. Scegli se
      <a href="#" class="alert-link">recuperarla</a> oppure <a ng-click="$ctrl.forceMakeNewBuy()" class="alert-link">sovrascriverla</a>
    </div>

    <div class="row" id="dashboard">
      <div class="col-xs-4 col-sm-2 col-md-2 col-sm-offset-2 col-md-offset-2">
    <!--    <a href="#!/new-buy" class="thumbnail">-->
        <a ng-click="$ctrl.makeNewBuy()" class="thumbnail">
          <img ng-src="img/nuovaspesa.png" alt="Immagine nuova spesa" title="Nuova spesa">
          <b>Nuova Spesa<b/>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
        <a href="#!/buys" class="thumbnail">
          <img ng-src="img/registro.png" alt="Archivio spese" title="Archivio spese">
          Registro spese
        </a>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-sm-offset-1 col-md-offset-1">
        <a href="#!/profile" class="thumbnail">
          <img ng-src="img/profilo.png" alt="Gestione profilo" title="Gestione profilo">
          Gestione profilo
        </a>
      </div>
    </div>
  </div>
</div>