<div class="container-fluid">
    <div class="row">
        <h3 class="col-xs-7">Dettaglio Punto Vendita</h3>
        <div class="navigation-buttons col-xs-5">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>
        </div>

        <hr class="col-xs-11">

        <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.getShopError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile ottenere il dettaglio del punto vendita, ritenta in un secondo momento.
        </div>
        <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.selectShopError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile selezionare il punto vendita, ritenta in un secondo momento.
        </div>

        <img ng-src="img/shops/{{$ctrl.shop.id}}.jpg" alt="{{$ctrl.shop.name}}" title="{{$ctrl.shop.name}}" class="col-xs-12 col-sm-6 col-md-5"/>

        <div class="col-xs-12 col-sm-6 col-md-7">
            <h2>{{$ctrl.shop.name}}</h2>

            <!--<p>{{$ctrl.shop.id}}</p>-->

            <p>{{$ctrl.shop.address}}</p>

            <!--<p>{{$ctrl.shop.url}}</p>-->

            <!--<p>Active: {{$ctrl.shop.isActive | checkmark}}</p>-->
        </div>
        <div class="select-shop-buttons col-xs-12 col-md-4 col-md-offset-4">
            <button type="button" id="select-shop-button" class="btn btn-primary btn-md" ng-click="$ctrl.selectShop()">Seleziona Punto vendita</button>
        </div>
    </div>
</div>