<div class="container-fluid">
    <div class="row">
      <!--<div class="page-header">-->
      <h3 class="col-xs-7">Riepilogo della spesa scelta</h3>
      <div class="navigation-buttons col-xs-5">
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>
      </div>
      <!--</div>-->
      <hr class="col-xs-11">

      <div class="col-xs-12">
        <!--Body content-->
        <div class="alert alert-danger" role="alert" ng-show="$ctrl.endBuyError">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
          <strong>Attenzione!</strong> Impossibile contattare il Server, ritenta in un secondo momento.
        </div>
        <div class="alert alert-danger" role="alert" ng-show="$ctrl.endBuyError">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
          <strong>Attenzione!</strong> Impossibile confermare la spesa, ritenta in un secondo momento.
        </div>

        <ul class="col-xs-12 buy-summary-list">
          <li ng-repeat="bli in $ctrl.buyLineItems">
              <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 buy-summary-list-item">
                  <img class="col-xs-3" ng-src="img/product.jpg" alt="{{shop.name}}" title="{{bli.product.name}}"/>
                  <span class="col-xs-5">{{bli.product.name}}</span>
                  <span class="col-xs-2">{{bli.product.price}}€</span>
                  <span class="col-xs-2">x {{bli.quantity}}</span>
              </div>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 buy-summary-total">
          <hr/>
          <h4 class="col-xs-5 col-sm-5 col-md-6 col-xs-offset-7 col-sm-offset-7 col-md-offset-6">Totale spesa: {{$ctrl.totalPrice}}€</h4>
        </div>
        <div class="confirm-buy-buttons col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <button type="submit" class="btn btn-primary btn-md" ng-click="$ctrl.confirmBuy()">Conferma spesa</button>
        </div>
      </div>
    </div>
</div>

