<div class="container-fluid">
  <div class="row">
    <!--<div class="page-header">-->
      <h3 class="col-xs-6">Lista di Punti Vendita</h3>
      <div class="navigation-buttons col-xs-6">
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>
      </div>
      
    <!--</div>-->
    <hr/>
    
    <div class="search-bar col-xs-12">
      <!--Search Bar content-->
      <div class="input-search col-xs-12 col-sm-5 col-md-4">
        Cerca:
        <input ng-model="$ctrl.query"/>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-3">
        Ordina:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alfabeticamente</option>
          <option value="id">Per iscrizione</option>
        </select>
      </div>
    </div>

    <div class="col-md-12">
      <!--Body content-->
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.searchShopError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile ottenere la lista di punti vendita, ritenta in un secondo momento.
      </div>
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.cancelBuyError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile contattare il Server, ritenta in un secondo momento.
      </div>

      <ul class="shops">
        <li ng-repeat="shop in $ctrl.shops | filter:$ctrl.query | orderBy:$ctrl.orderProp"  class="col-xs-12 thumbnail shop-list-item">
            <div class="col-xs-6 col-md-3">
              <a href="#!/shops/{{shop.id}}" >
                <img ng-src="img/shops/{{shop.id}}.jpg" alt="{{shop.name}}" title="{{shop.name}}"/>
              </a>
            </div>
            <div class="col-md-9">              
              <a href="#!/shops/{{shop.id}}">{{shop.name}}</a><br/>              
              <p>{{shop.address}}</p>
              <!--<span>{{shop.id}}</span></br>-->
              <!--<span>{{shop.name}}</span></br>-->
              <!--<p>{{shop.url}}</p></br>-->
              <!--<p>{{shop.isActive}}</p>-->
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
