<div class="container-fluid">
    <div class="row">
      <!--<div class="page-header">-->
      <h3 class="col-xs-7">Riepilogo della Spesa</h3>
      <div class="navigation-buttons col-xs-5">
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>
      </div>
      <!--</div>-->
      <hr/>

      <div class="col-xs-12">
        <!--Body content-->
        <div class="alert alert-danger" role="alert" ng-show="$ctrl.closeBuyError">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
          <strong>Attenzione!</strong> Impossibile contattare il Server, ritenta in un secondo momento.
        </div>

        <h4 class="col-xs-12">Punto vendita selezionato:</h4>
        <img ng-src="img/shops/{{$ctrl.buy.shop.id}}.jpg" alt="{{$ctrl.buy.shop.name}}" title="{{$ctrl.buy.shop.name}}" class="col-xs-12 col-sm-6 col-md-5"/>

        <div class="col-md-7">
        <h2>{{$ctrl.buy.shop.name}}</h2>

        <p>{{$ctrl.buy.shop.address}}</p>
        </div>
        <hr class="col-xs-12">

        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <span class="col-md-12"><strong>Metodo di pagamento:</strong> {{$ctrl.buy.payment}}</span><br>
          <span class="col-md-12"><strong>Orario di ritiro:</strong> {{$ctrl.buy.pickUpTime}}</span>
        </div>

        <hr class="col-xs-12">

        <h4 class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">Lista dei prodotti:</h4>
        <ul class="buy-summary-list">
          <li ng-repeat="bli in $ctrl.buyLineItems">
              <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 buy-summary-list-item">
                  <img class="col-xs-3" ng-src="img/product.jpg" alt="{{shop.name}}" title="{{bli.product.name}}"/>
                  <span class="col-xs-5">{{bli.product.name}}</span>
                  <span class="col-xs-2">{{bli.product.price}}€</span>
                  <span class="col-xs-2">x {{bli.quantity}}</span>
              </div>
          </li>
        </ul>
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 buy-summary-total">
          <hr>
          <h4 class="col-xs-6 col-sm-6 col-md-4 col-xs-offset-6 col-sm-offset-6 col-md-offset-8">Totale spesa: {{$ctrl.totalPrice}}€</h4>
        </div>
        <div class="confirm-buy-buttons col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <button type="submit" class="btn btn-primary btn-md" ng-click="$ctrl.closeBuy()">Conferma spesa</button>
        </div>
      </div>
    </div>
</div>

