<div class="container-fluid">
    <div class="row">
        <h3 class="col-xs-8">Spesa processata con successo</h3>
        <div class="navigation-buttons col-xs-4">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeToDashboard()">Torna indietro</button>
        </div>
        <div class="col-xs-12">
            <img class="col-xs-2 col-sm-1 col-xs-offset-1" ng-src="img/ok.png" ng-alt="Congratulazioni" ng-title="Congratulazioni">

            <p class="col-xs-9 col-sm-10">Congratulazioni, spesa processata con successo! Il cliente verrà avvisato che la sua spesa è pronta.
                Puoi accedere alla lista delle spese pronte al momento del ritiro da parte del cliente.
            </p>
        </div>
    </div>
</div>