<div class="container-fluid">
  <div class="row">
    <h3>Benvenuto!</h3>
    <p>Selezionare il caso d'uso di interesse.</p>
    <br/>

    <div class="row" id="dashboard">
      <div class="col-xs-4 col-sm-3 col-md-2 col-xs-offset-2 col-sm-offset-2 col-md-offset-3">
        <!--<a href="#!/new-buy" class="thumbnail">-->
        <a ng-click="$ctrl.goToConsumerTutorial()" class="thumbnail">
          <img ng-src="img/makeNewBuy1.png" alt="Immagine nuova spesa" title="Nuova spesa">
          <b>Tutorial Consumer - UC1 - MakeNewBuy<b/>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2 col-sm-offset-2 col-md-offset-2">
        <!--<a href="#!/buys" class="thumbnail">-->
        <a ng-click="$ctrl.goToOperatorTutorial()" class="thumbnail">
          <img ng-src="img/processBuy1.png" alt="Archivio spese" title="Archivio spese">
          Tutorial Operator - UC2 - processBuy
        </a>
      </div>
    </div>
  </div>
</div>