/********************************
BODY and VIEW FRAME
*********************************/
body {
  padding-top: 20px;
}

.view-frame{
  background-color: rgba(19, 19, 4, 0.0392157);
  margin: 10px 50px;
  padding: 5px;
  min-height: 480px;
}

.navigation-buttons{
  margin-top: 20px;
  text-align: right;
}


/*********************************
HEADER
*********************************/
.header{
  background-color: #232f3e;
  width: 100%;
  height: 100px;
  margin-top: -20px;
}

.header-background{
  /*float: left;*/
  height: 20px;
  width: 100%;
  background-image: url("img/background.png");
  background-position: left top;
  background-repeat: repeat-x;
  background-size: contain;
}

/***********************************
LOGO
***********************************/
.header-logo{
  /*float: left;*/
  padding-top: 15px;
  /*padding-left: 43%;
  width: 200px;*/
}

.header-logo img{
    width: 180px;
    margin-top: -13px;
}

/*.img-logo{
  float: left;
}*/

.text-logo{
  color: #ffffff;
  display: inline;
  font-size: 2em;
  font-style: italic;
  padding-left: 7px;
}

/********************************
DASHBOARD
********************************/
#dashboard .thumbnail {
  text-align: center;
  cursor: pointer;
}

.alert .alert-link{
  cursor: pointer;
}


/********************************
SHOP-LIST
********************************/
.search-bar div {
  float: left;
  vertical-align: middle;
  margin-bottom: 20px;
  padding-left: 0;
}

.shops{
  list-style-type: none;
  padding-left: 0;
  display: inline-block;
}

.shop-list-item{
  /*contain: content;*/
  display: inline-block;
}

.shop-list-item div a{
  font-size: 20px;
  font-weight: 600;
}

.shop-list-item div a img{
  border-radius: 4px;
}

.shop-list-item div a img:hover{
  border: 1px solid #337ab7;
}

.input-search input{
  background:#fff no-repeat 7px 3px;
  background-image:url("img/search.png");
  border-radius: 4px;  
  text-indent: 30px;
}

/********************************
SHOP DETAILS
********************************/
.select-shop-buttons{
  margin-top: 25px;
  text-align: center;
}


/********************************
CATEGORIES
********************************/
.categories{
  list-style-type: none;
  height: 35px;
  /*margin-top: 15px;*/
  margin-top: 20px;
  margin-left: -40px;
}

.category-list-item{
  float: left;
  margin-right: 10px;
}


/********************************
PRODUCTS
********************************/
.product-list{
  list-style-type: none;
  margin-left: -38px;
}

.product-list {
	    margin: -1px -48px 0px -68px;
      height: 200px;
}

.product-list-item{
  width: 15%;
}

.product-list figure {
	max-width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #fff;
}

.product-list figure:hover{
	border: 1px solid #232f3e;
}

.product-list figure img {
	position: relative;
	transition: transform 0.4s;
}

.product-list figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* text-align: center; */
    padding: 4px;
    height: 71px;
    width: 255px;
    background: #232f3e; /*#2c3f52;*/
    color: lightgray;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}


.product-list .price:before {
	content: "Price: ";
}

.product-list figcaption h3 {
	margin: 0 0 8px;
	padding: 0;
	color: #fff;
	font-size: 18px;
}

.product-list figure:hover img {
	transform: translateY(-50px);
}

.product-list figure:hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}


/********************************
PRODUCT DETAILS
********************************/
.error-message{
  margin-bottom: 15px;
}

.error-message .error{
  color: red;
}

#add-product-button{
  float: right;
}

.modal-content{
  display: inline-block;
}

.modal-body{
  display: inline-block;
}


/*******************************
SHOPPING CART
*******************************/
.shopping-cart {
	position: fixed;
	bottom: 70px;
  top: 130px;
	right: 0;
	padding: 16px;
	background: #232f3e; /*#2c3f52;*/
	color: lightgray;
	box-shadow: 10px 10px 5px #888888;
  overflow-y: auto;
}

.shopping-cart h2 {
	font-size: 14px;
	font-weight: bold;
	color: white;
  margin-top: 0px;
  margin-bottom: 14px;
}

.shopping-cart.ng-enter, .shopping-cart.ng-leave {
	transition: 0.5s linear all;
}

.shopping-cart.ng-enter {
	opacity: 0;
	transform: translateX(100%);
}

.shopping-cart.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateX(0px);
}

.shopping-cart.ng-leave {
	opacity: 1;
	transform: translateX(0px);
}

.shopping-cart.ng-leave.ng-leave-active {
	opacity: 0;
  transform: translateX(100%);
}

.shopping-cart .cart-item {
	margin-right: 0px;
  margin-bottom: 5px;
	position: relative;
  display: block;
}

.shopping-cart .cart-item img {
	height: 25px;
	width: 25px;
}

.shopping-cart button {
	position: absolute;
	bottom: 3px;
	right: 16px;
}

.shopping-cart .cart-item .btn-xs {
    padding: 1px 4px;
    font-size: 10px;
}

.shopping-cart .cart-item .remove-product {
  right: 0px;
}

.shopping-cart .cart-item .edit-product {
  right: 23px;
}

.shopping-cart .confirm-buy {
    position: relative;
    right: -101px;
    bottom: -6px;
}

/*******************************
BUY SUMMARY LIST
*******************************/
.buy-summary-list{
  list-style-type: none;
  position: relative;
  display: inline-block;
  -webkit-padding-start: 0;
}

.buy-summary-list-item{
  margin-bottom: 10px;
}

.buy-summary-list-item span{
  top: 30px;
}

.buy-summary-total{
  margin-bottom: 25px;
}

.confirm-buy-buttons{
  text-align: center
}

/*******************************
TIME LIST
*******************************/
.time-list{
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.clock{
  position: absolute;
  width: 15%;
  margin-top: 20px;
  margin-left: 5px;
}


/*******************************
PAYMENT LIST
*******************************/
.payment-list{
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 10px;
}

.payment{
  position: absolute;
  width: 25%;
  margin-top: 0px;
  margin-left: -10px;
}


/*******************************
FOOTER
*******************************/
.footer{
  background-color: #232f3e;
  width: 100%;
  height: 50px;
  vertical-align: middle;
}

.copyright{
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

/*************************************
CLOSED BUYS
*************************************/
.buys{
  list-style-type: none;
  padding-left: 0;
}

.buy-list-item{
  display: inline-block;
}

/*************************************
ASSIGNED BUYS
*************************************/
.assigned-buy-buttons{
  text-align: center;
  margin-top: 15px;
}

.assigned-buy-buttons button{
  margin: 0 10px;
}


/*************************************
MEDIA QUERIES FOR RESPONSIVE
*************************************/
@media screen and (min-width: 992px){
  .buy-list-item{
    height: 60px;
    display: inline-block;
  }

  .process-item{
    height: 60px;
    display: inline-block
  }

  .buy-list-item-icon{
    float: left;
    width: 50px;
    margin: 0 10px;
    /*display: inline-block;*/
  }

  .buy-list-item-time{
    float: left;
    margin-left: 40px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 37%;
  }

  .buy-list-item-consumer{
    float: left;
    margin-left: 40px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 40%;
  }

  .buy-list-item-button{
    position: relative;
    float: right;
    top: 8px;
    right: 5px;
    /*display: inline-block;*/
  }

  .process-item{
    height: 60px;
    display: inline-block
  }

  .process-item-icon{
    position: relative;
    float: left;
    width: 60px;
    margin: 0 10px;
  }

  .process-item-name{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-price{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-quantity{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-button{
    position: relative;
    float: right;
    margin: 0 20px;
  }

}

@media screen and (max-width: 991px) and (min-width: 768px){
  .buy-list-item{
    height: 60px;
    display: inline-block;
  }

  .buy-list-item-icon{
    float: left;
    width: 50px;
    margin: 0 10px;
    /*display: inline-block;*/
  }

  .buy-list-item-time{
    float: left;
    margin-left: 40px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 30%;
  }

  .buy-list-item-consumer{
    float: left;
    margin-left: 40px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 35%;
  }

  .buy-list-item-button{
    position: relative;
    float: right;
    top: 8px;
    right: 5px;
    /*display: inline-block;*/
  }

    .process-item{
    height: 60px;
    display: inline-block
  }

  .process-item-icon{
    position: relative;
    float: left;
    width: 60px;
    margin: 0 10px;
  }

  .process-item-name{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-price{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-quantity{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-button{
    position: relative;
    float: right;
    margin: 0 20px;
  }

}

@media screen and (max-width: 767px) and (min-width: 540px){
  .buy-list-item{
    height: 60px;
    display: inline-block;
  }

  .buy-list-item-icon{
    float: left;
    width: 50px;
    margin: 0 10px;
    /*display: inline-block;*/
  }

  .buy-list-item-time{
    float: left;
    margin-left: 30px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 20%;
  }

  .buy-list-item-consumer{
    float: left;
    margin-left: 35px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 30%;
  }

  .buy-list-item-button{
    position: relative;
    float: right;
    top: 8px;
    right: 5px;
    /*display: inline-block;*/
  }

    .process-item{
    height: 60px;
    display: inline-block
  }

  .process-item-icon{
    position: relative;
    float: left;
    width: 60px;
    margin: 0 10px;
  }

  .process-item-name{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-price{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-quantity{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-button{
    position: relative;
    float: right;
    margin: 0 20px;
  }

}

@media screen and (max-width: 539px){
  .buy-list-item{
    height: 80px;
    display: inline-block;
  }

  .buy-list-item-icon{
    float: left;
    width: 50px;
    margin: 0 10px;
    /*display: inline-block;*/
    position: relative;
    top: 7px;
  }

  .buy-list-item-time{
    float: left;
    margin-left: 30px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 15%;
  }

  .buy-list-item-consumer{
    float: left;
    margin-left: 35px;
    top: 5px;
    /*display: inline-block;*/
    position: relative;
    width: 30%;
  }

  .buy-list-item-button{
    position: relative;
    float: right;
    top: 15px;
    right: 5px;
    /*display: inline-block;*/
  }

    .process-item{
    height: 60px;
    display: inline-block
  }

  .process-item-icon{
    position: relative;
    float: left;
    width: 60px;
    margin: 0 10px;
  }

  .process-item-name{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-price{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-quantity{
    position: relative;
    float: left;
    margin: 0 20px;
    top: 10px;
  }

  .process-item-button{
    position: relative;
    float: right;
    margin: 0 20px;
  }
}


@media screen and (max-width: 767px){
  .view-frame {
      margin: 10px 1px;
  }
}