<div class="container-fluid">
    <div class="row">
        <h3 class="col-xs-7">Lista Orari di Ritiro</h3>
        <div class="navigation-buttons col-xs-5">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>
        </div>
        <hr/>
        <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.selectPickUpTimeError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile selezionare l'orario di ritiro, ritenta in un secondo momento.
        </div>
        
        <div class="col-xs-12">
            <!--Body content-->
            <div class="alert alert-danger" role="alert" ng-show="$ctrl.searchShopError">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
                <strong>Attenzione!</strong> Impossibile contattare il Server, ritenta in un secondo momento.
            </div>
            <!--<ul class="times">
                <li ng-repeat="time in $ctrl.times"  class="thumbnail time-list-item">
                    <div class="col-md-9">            
                    <p>{{time}}</p>
                    </div>
                </li>
            </ul>-->
            <div>
                <img class="clock" ng-src="img/clock.png" ng-title="Clock image" ng-alt="Immagine orologio orari di ritiro">
            </div>
            <div class="time-list col-xs-2 col-xs-offset-5 col-sm-offset-5 col-md-offset-5" ng-repeat="time in $ctrl.times">
                <!--<input type="checkbox" ng-model="time"> <span ng-bind="time"></span>-->
                <input type="radio" name="time" value="{{time}}" ng-model="$ctrl.pickUpTime" > <span ng-bind="time"></span>
            </div>
            <div class="confirm-buy-buttons col-xs-12">
                <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.selectPickUpTime($ctrl.pickUpTime)">Seleziona orario Ritiro</button>
            </div>

            <!--<p class="col-xs-12" ng-show="$ctrl.pickUpTime">Hai selezionato: {{$ctrl.pickUpTime}}</p>-->

        </div>    
    </div>
</div>
