<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-8">Lista delle spese pronte</h3>
    <div class="navigation-buttons col-xs-4">
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
      <!--<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>-->
    </div>
    
    <div class="search-bar col-xs-12">
      <!--Search Bar content-->
      <div class="input-search col-xs-12 col-sm-6 col-md-5">
        Cerca:
        <input ng-model="$ctrl.query"/>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        Ordina:
        <select ng-model="$ctrl.orderProp">
          <option value="pickUpTime">Orario di ritiro</option>
          <option value="surname">Alfabeticamente</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12">
      <!--Body content-->
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.getReadyBuysError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile ottenere la lista di spese pronte al ritiro, ritenta in un secondo momento.
      </div>
      <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.finishBuyError">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <strong>Attenzione!</strong> Impossibile dichiarare la spesa come ritirata, ritenta in un secondo momento.
      </div>
      <div class="alert alert-success" role="alert" ng-show="$ctrl.finishBuySuccess">
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          <strong>Congratulazioni!</strong> Spesa dichiarata chiusa, accedi alla lista del punto vendita per visualizzarla.
      </div>
      <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.uncollectedBuyError">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <strong>Attenzione!</strong> Impossibile dichiarare la spesa come non ritirata, ritenta in un secondo momento.
      </div>
      <div class="alert alert-success" role="alert" ng-show="$ctrl.uncollectedBuySuccess">
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          <strong>Congratulazioni!</strong> Spesa dichiarata non ritirata, accedi alla lista del punto vendita per visualizzarla.
      </div>

      <ul class="buys">
        <li ng-repeat="buy in $ctrl.buys | filter:$ctrl.query | orderBy:$ctrl.orderProp"  class="col-xs-12 col-md-12 thumbnail buy-list-item">
            <div class="buy-list-item-icon">
              <a href="#!/shops/{{shop.id}}" >
                <img ng-src="img/buys/buys.png" alt="Assigned buy" title="Assigned buy"/>
              </a>
            </div>
            <div class="buy-list-item-time">
              <span>Orario di ritiro:</span><br>
              <span>{{buy.pickUpTime}}</span>
            </div>
            <div class="buy-list-item-consumer">
              <span>Cliente:</span><br>
              <span>{{buy.consumer.name}}</span>
              <span>{{buy.consumer.surname}}</span>
            </div>
            <div class="buy-list-item-button">
              <button ng-click="$ctrl.toggleModal(buy.id)" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </button>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<ready-buy-detail title="Dettagli della spesa" visible="showModal">
    <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.getReadyBuyError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile prelevare i dettagli della spesa dal Server, ritenta in un secondo momento.
    </div>

    <h4 class="col-xs-8">Opzioni Spesa</h4>
    <p class="col-xs-8">Pagamento selezionato: {{$ctrl.buy.payment}}</p>
    <p class="col-xs-8">Orario di ritiro: h{{$ctrl.buy.pickUpTime}}</p>
    <p class="col-xs-8">Cliente: {{$ctrl.buy.consumer.name}} {{$ctrl.buy.consumer.surname}}</p>

    <hr class="col-xs-11">

    <h4 class="col-xs-8">Lista prodotti selezionati</h4>
    <ul class="buy-summary-list">
      <li ng-repeat="bli in $ctrl.buy.buyLineItems">
          <div class="col-xs-12 buy-summary-list-item">
              <img class="col-xs-3" ng-src="img/product.jpg" alt="{{bli.product.name}}" title="{{bli.product.name}}"/>
              <span class="col-xs-5">{{bli.product.name}}</span>
              <span class="col-xs-2">{{bli.product.price}}€</span>
              <span class="col-xs-2">x {{bli.quantity}}</span>
          </div>
      </li>
    </ul>

    <hr class="col-xs-11">

    <h4 class="col-xs-6 col-sm-6 col-md-4 col-xs-offset-6 col-sm-offset-6 col-md-offset-8">Totale spesa: {{$ctrl.totalPrice}}€</h4>

    <div class="assigned-buy-buttons col-xs-12">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Chiudi scheda</button>
        <button type="submit" class="btn btn-danger btn-md" ng-click="$ctrl.uncollectedBuy($ctrl.buy.id)">Spesa non ritirata</button>
        <button type="submit" class="btn btn-primary btn-md" ng-click="$ctrl.finishBuy($ctrl.buy.id)">Spesa ritirata</button>
    </div>
</ready-buy-detail>