<div class="container-fluid">
  <div class="row">
      <h3 class="col-xs-9">Lista dei prodotti della spesa da processare</h3>
      <div class="navigation-buttons col-xs-3">
        <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack($ctrl.buy.id)">Torna indietro</button>
        <!--<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>-->
      </div>
    <hr/>
    
    <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.processBuyError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile processare la spesa selezionata, ritenta in un secondo momento.
    </div>
    <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.comeBackError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile tornare alle lista della spese assegnate, ritenta in un secondo momento.
    </div>
    <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.readyBuyError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile rendere la spesa come pronta, ritenta in un secondo momento.
    </div>

    <h4 class="col-xs-8">Opzioni Spesa</h4>
    <p class="col-xs-8">Pagamento selezionato: {{$ctrl.buy.payment}}</p>
    <p class="col-xs-8">Orario di ritiro: {{$ctrl.buy.pickUpTime}}€</p>
    <p class="col-xs-8">Cliente: {{$ctrl.buy.consumer.name}} {{$ctrl.buy.consumer.surname}}</p>

    <hr class="col-xs-11">

    <h4 class="col-xs-8" ng-show="$ctrl.bliToDo.length > 0">Prodotti da prendere</h4>
    <ul class="buy-summary-list">
      <li ng-repeat="todo in $ctrl.bliToDo">
          <div class="process-item">
              <img class="process-item-icon" ng-src="img/product.jpg" alt="{{todo.product.name}}" title="{{todo.product.name}}"/>
              <span class="process-item-name">{{todo.product.name}}</span>
              <span class="process-item-price">{{todo.product.price}}€</span>
              <span class="process-item-quantity">x {{todo.quantity}}</span>
          </div>
          <button type="button" class="btn btn-success process-item-button" ng-click="$ctrl.setDone(todo)">Preso</button>
      </li>
    </ul>

    <h4 class="col-xs-8" ng-show="$ctrl.bliDone.length > 0">Prodotti presi</h4>
    <ul class="buy-summary-list">
      <li ng-repeat="done in $ctrl.bliDone">
          <div class="process-item">
              <img class="process-item-icon" ng-src="img/product.jpg" alt="{{done.product.name}}" title="{{done.product.name}}"/>
              <span class="process-item-name">{{done.product.name}}</span>
              <span class="process-item-price">{{done.product.price}}€</span>
              <span class="process-item-quantity">x {{done.quantity}}</span>
          </div>
          <button type="button" class="btn btn-danger process-item-button" ng-click="$ctrl.setUndone(done)">Rimuovi</button>
      </li>
    </ul>

    <div class="assigned-buy-buttons col-xs-12">
        <button type="submit" class="btn btn-primary btn-md" ng-click="$ctrl.readyBuy($ctrl.buy.id)" ng-disabled="$ctrl.bliToDo.length > 0">Spesa processata</button>
    </div>

  </div>
</div>