<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-9">Lista di Spese del Punto Vendita</h3>
    <div class="navigation-buttons col-xs-3">
      <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
      <!--<button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>-->
    </div>
    
    <div class="search-bar col-md-12">
      <!--Search Bar content-->
      <div class="input-search col-xs-12 col-sm-5 col-md-4">
        Cerca:
        <input ng-model="$ctrl.query"/>
      </div>

      <div class="col-xs-12 col-sm-5 col-md-3">
        Ordina:
        <select ng-model="$ctrl.orderProp">
          <option value="pickUpTime">Orario di ritiro</option>
          <option value="surname">Alfabeticamente</option>
        </select>
      </div>
    </div>

    <div class="col-xs-12">
      <!--Body content-->
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.shopBuyListError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <!--<strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile ottenere la lista di spese punti vendita, ritenta in un secondo momento.-->
        <strong>Attenzione!</strong> Impossibile ottenere la lista di spese punti vendita, ritenta in un secondo momento.
      </div>
      <div class="alert alert-danger" role="alert" ng-show="$ctrl.assignBuyError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile assegnare la spesa, ritenta in un secondo momento.
      </div>
      <div class="alert alert-success" role="alert" ng-show="$ctrl.assignBuySuccess">
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        <strong>Congratulazioni!</strong> Spesa assegnata con successo, accedi alla tua lista personale per processarla.
      </div>

      <ul class="buys">
        <li ng-repeat="buy in $ctrl.buys | filter:$ctrl.query | orderBy:$ctrl.orderProp"  class="col-xs-12 col-md-12 thumbnail buy-list-item">
            <div class="buy-list-item-icon">
              <a href="#!/shops/{{shop.id}}" >
                <img ng-src="img/buys/buys.png" alt="Closed buy" title="Closed buy"/>
              </a>
            </div>
            <div class="buy-list-item-time">
              <span>Orario di ritiro:</span><br>
              <span>{{buy.pickUpTime}}</span>
            </div>
            <div class="buy-list-item-consumer">
              <span>Cliente:</span><br>
              <span>{{buy.consumer.name}}</span>
              <span>{{buy.consumer.surname}}</span>
            </div>
            <div class="buy-list-item-button">
              <button ng-click="$ctrl.toggleModal($index,buy.id)" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              </button>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<buy-detail title="Dettagli della spesa" visible="showModal">
    <!--<form role="form">-->
    <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.getClosedBuyError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione!</strong> Impossibile prelevare i dettagli della spesa dal Server, ritenta in un secondo momento.
    </div>

    <h4 class="col-xs-8">Opzioni Spesa</h4>
    <p class="col-xs-8">Pagamento selezionato: {{$ctrl.buy.payment}}</p>
    <p class="col-xs-8">Orario di ritiro: {{$ctrl.buy.pickUpTime}}€</p>
    <p class="col-xs-8">Cliente: {{$ctrl.buy.consumer.name}} {{$ctrl.buy.consumer.surname}}</p>

    <hr class="col-xs-11">

    <h4 class="col-xs-8 col-sm-6 col-md-7">Lista prodotti selezionati</h4>
    <ul class="buy-summary-list">
      <li ng-repeat="bli in $ctrl.buy.buyLineItems">
          <div class="col-xs-12 buy-summary-list-item">
              <img class="col-xs-3" ng-src="img/product.jpg" alt="{{bli.product.name}}" title="{{bli.product.name}}"/>
              <span class="col-xs-5">{{bli.product.name}}</span>
              <span class="col-xs-2">{{bli.product.price}}€</span>
              <span class="col-xs-2">x {{bli.quantity}}</span>
          </div>
      </li>
    </ul>

    <div class="col-xs-10 col-sm-10 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Chiudi scheda</button>
        <button type="submit" class="btn btn-primary btn-md" id="add-product-button" ng-click="$ctrl.assignBuy($index,$ctrl.buy.id)">Assegna spesa</button>
    </div>
</buy-detail>

