<div class="container-fluid">
  <div class="row">
        <h3 class="col-xs-7">Selezione prodotti</h3>
        <div class="navigation-buttons col-md-5">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.comeBack()">Torna indietro</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.cancelBuy()">Annulla spesa</button>
        </div>
  </div>

        <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.getCategoriesError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile prelevare le categorie dal Server, ritenta in un secondo momento.
        </div>

        <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.endBuyError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile chiudere la spesa, controlla la selezione dei prodotti e ritenta.
        </div>

        <ul class="categories">
            <li ng-repeat="category in $ctrl.categories"  class="category-list-item">
                <div>
                <button class="btn btn-primary btn-md" ng-click="$ctrl.getCategoryProducts(category.id,category)">{{category.name}}</button>
                </div>
            </li>
        </ul>
        <ul class="categories">
            <li ng-repeat="subcategory in $ctrl.subcategories"  class="category-list-item">
                <div>
                <button class="btn btn-info btn-sm" ng-click="$ctrl.getSubcategoryProducts(subcategory.id)">{{subcategory.name}}</button>
                </div>
            </li>
        </ul>

        <div class="col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.getCategoryProductsError">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile prelevare i prodotti dal Server, ritenta in un secondo momento.
        </div>

        <div class="col-md-9">
            <ul class="product-list">
                <li ng-repeat="product in $ctrl.products">
                    <div class="col-md-4 col-sm-4 col-xs-6">
                        <figure>
                            <!--<img ng-src="{{product.image}}" alt="{{product.name}}">-->
                            <img ng-src="img/product.jpg" alt="{{product.name}}">
                            <figcaption>
                                <h3>{{product.name}}, {{product.price}}€</h3>
                                <!--<button ng-click="$ctrl.addProduct(product)">Apri scheda prodotto</button>-->
                                <button ng-click="toggleModal(product)" class="btn btn-primary btn-xs">Apri scheda prodotto</button>
                            </figcaption>
                        </figure>
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="$ctrl.cart.length" class="shopping-cart">
            <h2>Lista dei prodotti selezionati</h2>
            <hr/>
            <span class="cart-item th radius" ng-repeat="bli in $ctrl.cart">
                <img ng-src="img/product.jpg" title="{{bli.product.name}}"/>
                <span>{{bli.product.name}} - </span>
                <!--<span>{{product.price}}€</span>-->
                <!--<span class="badge" ng-show="product.quantity >= 1">-->
                <span ng-show="bli.quantity >= 1">
                    {{bli.product.price}}€ x{{bli.quantity}}
                </span>
                <!--<button class="delete-cart-item" ng-click="$ctrl.removeProduct($index)">&times;</button>-->
                <button type="button" class="btn btn-primary btn-xs edit-product" ng-click="toggleModal(bli.product)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-primary btn-xs remove-product" ng-click="$ctrl.removeProduct($index, bli.id)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </span>
            <hr/>
            <h2>{{$ctrl.cart.length}} prodotti nella Lista, Totale: {{$ctrl.getCartPrice()}}€</h2>

            <button class="btn btn-primary btn-sm confirm-buy" ng-click="$ctrl.endBuy()">Procedi all'acquisto</button>
        </div>
  </div>
</div>

<product-detail title="Dettagli del prodotto" visible="showModal">
    <!--<form role="form">-->
    <div class=" col-xs-12 alert alert-danger" role="alert" ng-show="$ctrl.getProductDetailsError">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <strong>Attenzione - Error {{$ctrl.status}}!</strong> Impossibile prelevare i dettagli del prodotto dal Server, ritenta in un secondo momento.
    </div>

    <img ng-src="img/product.jpg" class="col-xs-8 col-sm-6 col-md-6 col-xs-offset-2 col-sm-offset-3" />

    <h3 class="col-xs-8 col-sm-6 col-md-7 col-xs-offset-2">{{$ctrl.product.name}}</h3>
    <!--<p>Id: {{$ctrl.product.id}}</p>-->
    <p class="col-xs-8 col-sm-6 col-md-7 col-xs-offset-2">Quantità: {{$ctrl.product.quantity}}</p>
    <p class="col-xs-8 col-sm-6 col-md-7 col-xs-offset-2">Prezzo: {{$ctrl.product.price}}€</p>
    <p class="col-xs-8 col-sm-6 col-md-7 col-xs-offset-2">Descrizione: {{$ctrl.product.description}}</p>
    <p class="col-xs-8 col-sm-6 col-md-7 col-xs-offset-2">Quantità disponibile in magazzino: {{$ctrl.max_value}}</p>
    <form name="addProductForm" class="col-xs-8 col-sm-6 col-md-7 col-xs-offset-2">
        <p>Seleziona la quantità:
            <input type="number" name="input" ng-model="$ctrl.value"
                    min="1" max={{$ctrl.max_value}} required>
        </p>
    </form>
    <div role="alert" class="error-message col-sm-6 col-md-7 col-sm-offset-6 col-md-offset-5">
        <span class="error" ng-show="addProductForm.input.$error.required">
            Valore richiesto!
        </span>
        <span class="error" ng-show="addProductForm.input.$error.max">
            Valore superiore alla quantità disponibile!
        </span>
        <span class="error" ng-show="addProductForm.input.$error.min">
            Valore selezionato non valido!
        </span>
        <span class="error" ng-show="addProductForm.input.$error.number">
            Valore selezionato non valido!
        </span>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-8 col-xs-offset-1 col-sm-offset-1 col-md-offset-2">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Chiudi scheda</button>
        <button type="submit" class="btn btn-primary btn-md" id="add-product-button" ng-click="$ctrl.addProduct($ctrl.product,$ctrl.value)">Aggiungi prodotto</button>
    </div>
    <!--<tt>value = {{$ctrl.value}}</tt><br/>
    <tt>addProductForm.input.$valid = {{addProductForm.input.$valid}}</tt><br/>
    <tt>addProductForm.input.$error = {{addProductForm.input.$error}}</tt><br/>
    <tt>addProductForm.$valid = {{addProductForm.$valid}}</tt><br/>
    <tt>addProductForm.$error.required = {{!!addProductForm.$error.required}}</tt><br/>-->
    <!--</form>-->
</product-detail>
